.portfolio-container{
  background-image: url("../../static/blur.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 2rem; 
}
.portfolio-container h4{
  margin-left: 8vw;
  color: rgb(0, 0, 0);  
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 4rem;
}

.portfolio-container-card{
  width: 25rem;
  height: 25rem;
  margin: 1rem;
  z-index: 2000;
}
.portfolio-container-card-text{
  font-size: 1rem;
  color: rgb(80, 80, 80);
  font-weight: 400;     
}
.portfolio-container-card-layout{
  display: flex;
  margin-top: 10vh;
}
.portfolio-container-card-layout div{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media  screen and (min-width: 320px) and (max-width: 425px) { 
  .portfolio-container-card{
    width: 90%;
    height: auto;
    margin: 1rem;
    z-index: 2000;
  }
  .portfolio-container-card-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .portfolio-container{
    padding: 1rem; 
  } 
}
@media  screen and (min-width: 425px) and (max-width: 550px) { 
  .portfolio-container-card{
    width: 70%;
    height: auto;
    margin: 1rem;
    z-index: 2000;
  }
  .portfolio-container-card-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .portfolio-container{
    padding: 1rem; 
  } 
}
@media  screen and (min-width: 551px) and (max-width: 767px) { 
  .portfolio-container-card{
    width: 60%;
    height: auto;
    margin: 1rem;
    z-index: 2000;
  }
  .portfolio-container-card-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .portfolio-container{
    padding: 1rem; 
  } 
}
@media  screen and (min-width: 768px) and (max-width: 1024px) { 
  .portfolio-container-card{
    width: 65%;
    height: auto;
    margin: 1rem;
    z-index: 2000;
  }
}