.about-container{
  display: flex;
  height: 100vh;
}
.about-description-container{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 93.5vh;
  background-color:#ffe600;  

  
}
.backgroun-blur{
  background-image: url("../../static/blur.jpg");
  background-size: cover;
  background-position: center; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35vw;
}

.about-description-text{
  width: 50%;
  height: auto;
  padding: 2rem; 
  z-index: 2000;
}
.about-description-text-title{
  color: rgb(0, 0, 0);  
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 2rem;
  z-index: 2000;
  font-size: 4rem;
}
.about-description-text-contain{
  color: rgb(0, 0, 0);
  font-weight: 200;
  letter-spacing: 2px;
  text-align: justify;
  font-size: 1.1rem;
}
.about-description-img img{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.about-description-img2 img{
  
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media  screen and (min-width: 320px) and (max-width: 590px) { 
  .about-description-container{
    display: flex;
    flex-direction: column;    
  }  
  .about-description-text{
    width: 90%;
  }  
  .about-description-img img{
    width: 100%;  
}
}

