.list-skills-container-about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vh;
    background-color: rgb(0, 0, 0);
}
.list-skills-title-about{
    border: 3px solid #000;
    width: 30%;
}
.list-skills-title-about:hover{
    border-bottom: 3px solid rgb(0, 212, 250);
    width: 35%;
    transition: 1000ms;
}
.list-skills-subtitle-about{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 4px;
    color: rgba(255, 255, 255, 0.397);      
}
.list-skills-p-about{
    color: #fff;
    letter-spacing: 1px;
}
.list-skills-image-about{
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 80%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    border-radius: 8px;
}
.skills-item-container-about{
    display: flex;
    justify-content: space-around;
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem;   
};


