.list-skills-container-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 93.5vh;
    background-color: rgb(253, 250, 250);    
}
.list-skills-title-about{
    border: 3px solid #000;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1000ms;
    background-color: rgba(0, 0, 0, 0.555);
}
.list-skills-title-about:hover{
    border-bottom: 3px solid rgb(0, 212, 250);
    width: 25%;
}
.list-skills-subtitle-about{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 4px;
    color: rgba(255, 255, 255, 0.397);      
}
.list-skills-p-about{
    color: #fff;
    letter-spacing: 1px;
}
.list-skills-image-about{
    width: 50%;
    height: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:1fr;
    margin: 1rem;
    border-radius: 8px;
    z-index: 2000;
}
.skills-item-container-about{
    display: flex;
    justify-content: space-around;
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem;   
};