.footer-container{
    border-top: 7px solid rgba(255, 255, 255, 0.397);  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
    background-color: rgb(0, 0, 22);
}
.footer-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(100, 100, 100);
    z-index: 200;
    padding: 0px 1rem;
}
.footer-content-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    width: 50%;

}
.footer-content-nav-logo img{
    width: auto;
    height: 8rem;
}
.footer-content-socialmedia{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    width: 30%;
    color: rgba(255, 255, 255, 0.397);  
    font-size: 2rem;
}
.footer-content-socialmedia div a {
    color: rgba(255, 255, 255, 0.397);  
    text-decoration: none;
}
.footer-content-nav-links {
   display: flex;
   flex-direction: column;
   font-weight: 300;
   letter-spacing: 1px;
   color: rgba(255, 255, 255, 0.397);  
}
.footer-content-nav-link{
    padding-left: 0.5rem;
    border: 2px solid  rgb(100, 100, 100);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.397);
    letter-spacing: 2px; 
    font-weight: 600; 
    transition: 300ms;
}
.footer-content-nav-link-about{
    padding-left: 0.5rem;
    border: 2px solid  rgb(100, 100, 100);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.397);
    letter-spacing: 2px; 
    font-weight: 600; 
    transition: 300ms;
}
.footer-content-nav-link-about:hover{
    border-left:2px solid #ffe600;
    color: #ffe600;
}
.footer-content-nav-link:hover{
    border-left:2px solid #ffe600;
    color: #ffe600;
}

.socialmedia-icons{
    transition: 300ms;
}
.socialmedia-icons:hover{
    color: #ffe600;
}
.footer-container-category-link ul{
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.397);  
    margin: 0px;
    padding: 0px;
}
.footer-container-category-links{
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 1px;
    list-style: none;    
    color: rgba(255, 255, 255, 0.397);  
    margin: 0px 0.5rem;
    text-decoration: none;
    transition: 300ms;
}
.footer-container-category-links:hover{
    color: #ffe600;
}

@media  screen and (min-width: 320px) and (max-width: 425px) { 
    .footer-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;      
    }
    .footer-content-nav {
        padding: 0.5rem;  
    }
    .footer-content-nav-logo {
        display: none;
    }
    .footer-content-nav-links{    
        flex-direction: row; 
    }
    .footer-container-category-link ul{
        flex-direction: row;
    }
    .footer-content-nav-link-about{
        display: none;
    }
    .footer-content-socialmedia {
        padding: 0.5rem;
    } 
  }
@media  screen and (min-width: 425px) and (max-width: 550px) { 
    .footer-content-nav{
        padding: 2rem 0px;
        width: 20%;
    }
    .footer-content-socialmedia{
        width: 40%;
    }
    .footer-content-nav-logo {
        display: none;
    }        
  }
@media  screen and (min-width: 551px) and (max-width: 632px) { 
    .footer-content-nav{
        padding: 2rem 0px;
        width: 30%;
    }
    .footer-content-socialmedia{
        width: 40%;
    }
    .footer-content-nav-logo {
        display: none;
    }
    .footer-content-nav-links{
        align-items: left;      
    }
  }
